* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(67, 233, 233), rgb(255, 136, 156));
    min-height: 100vh;
}

h1 {
    text-align: center;
}

.menu-style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 200px;
}

.menu {
    position: relative;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: black
}

.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 125px;
    transition: 1s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(125px);
}

.menu.active li {
    transform: rotate(calc(45deg * var(--i)));
    color: black;
}

.toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px black;
    transition: transform 1s;
}

.menu.active .toggle {
    transform: rotate(300deg);
}
